.idea
.gradle
**/*.iml
**/*.ipr
EjmlVersion.java
**/bin/**
**/build/**
main/ejml-core/src/org/ejml/data/CMatrix.java
main/ejml-core/src/org/ejml/data/CMatrixD1.java
main/ejml-core/src/org/ejml/data/CMatrixRMaj.java
main/ejml-core/src/org/ejml/data/ComplexPolar_F32.java
main/ejml-core/src/org/ejml/data/Complex_F32.java
main/ejml-core/src/org/ejml/data/FEigenpair.java
main/ejml-core/src/org/ejml/data/FGrowArray.java
main/ejml-core/src/org/ejml/data/FMatrix.java
main/ejml-core/src/org/ejml/data/FMatrix1Row.java
main/ejml-core/src/org/ejml/data/FMatrix2.java
main/ejml-core/src/org/ejml/data/FMatrix2x2.java
main/ejml-core/src/org/ejml/data/FMatrix3.java
main/ejml-core/src/org/ejml/data/FMatrix3x3.java
main/ejml-core/src/org/ejml/data/FMatrix4.java
main/ejml-core/src/org/ejml/data/FMatrix4x4.java
main/ejml-core/src/org/ejml/data/FMatrix5.java
main/ejml-core/src/org/ejml/data/FMatrix5x5.java
main/ejml-core/src/org/ejml/data/FMatrix6.java
main/ejml-core/src/org/ejml/data/FMatrix6x6.java
main/ejml-core/src/org/ejml/data/FMatrixD1.java
main/ejml-core/src/org/ejml/data/FMatrixFixed.java
main/ejml-core/src/org/ejml/data/FMatrixIterator.java
main/ejml-core/src/org/ejml/data/FMatrixRBlock.java
main/ejml-core/src/org/ejml/data/FMatrixRMaj.java
main/ejml-core/src/org/ejml/data/FMatrixSparse.java
main/ejml-core/src/org/ejml/data/FMatrixSparseCSC.java
main/ejml-core/src/org/ejml/data/FMatrixSparseTriplet.java
main/ejml-core/src/org/ejml/data/FSubmatrixD1.java
main/ejml-core/src/org/ejml/ops/ComplexMath_F32.java
main/ejml-core/src/org/ejml/ops/ConvertFArrays.java
main/ejml-core/src/org/ejml/ops/ConvertFMatrixStruct.java
main/ejml-core/src/org/ejml/ops/MatrixFeatures_F.java
main/ejml-core/src/org/ejml/ops/SortCoupledArray_F32.java
main/ejml-core/test/org/ejml/data/GenericTestsFMatrixSparse.java
main/ejml-core/test/org/ejml/data/TestCMatrixD1.java
main/ejml-core/test/org/ejml/data/TestCMatrixRMaj.java
main/ejml-core/test/org/ejml/data/TestFGrowArray.java
main/ejml-core/test/org/ejml/data/TestFMatrixIterator.java
main/ejml-core/test/org/ejml/data/TestFMatrixRBlock.java
main/ejml-core/test/org/ejml/data/TestFMatrixRMaj.java
main/ejml-core/test/org/ejml/data/TestFMatrixSparseTriplet.java
main/ejml-core/test/org/ejml/data/TestFSubmatrixD1.java
main/ejml-core/test/org/ejml/ops/TestConvertFArrays.java
main/ejml-core/test/org/ejml/ops/TestMatrixFeatures_F.java
main/ejml-core/test/org/ejml/ops/TestSortCoupledArray_F32.java
main/ejml-experimental/src/org/ejml/dense/row/decomposition/bidiagonal/BidiagonalDecompositionNaive_FDRM.java
main/ejml-fdense/src/
main/ejml-fdense/test/
main/ejml-simple/code.class
main/ejml-simple/code.java
main/ejml-zdense/.settings/
eclipse.tar
examples/.settings/org.eclipse.jdt.core.prefs
main/.settings/org.eclipse.jdt.core.prefs
main/autocode/.gitignore
main/autocode/.settings/org.eclipse.jdt.core.prefs
main/ejml-all/.gitignore
main/ejml-all/.settings/org.eclipse.jdt.core.prefs
main/ejml-cdense/.gitignore
main/ejml-cdense/.settings/org.eclipse.jdt.core.prefs
main/ejml-cdense/src/
main/ejml-cdense/test/
main/ejml-core/.gitignore
main/ejml-core/.settings/org.eclipse.jdt.core.prefs
main/ejml-ddense/.gitignore
main/ejml-ddense/.settings/org.eclipse.jdt.core.prefs
main/ejml-dsparse/.gitignore
main/ejml-dsparse/.settings/org.eclipse.jdt.core.prefs
main/ejml-experimental/.gitignore
main/ejml-experimental/.settings/org.eclipse.jdt.core.prefs
main/ejml-fdense/.gitignore
main/ejml-fdense/.settings/org.eclipse.jdt.core.prefs
main/ejml-zdense/.gitignore
main/ejml-simple/TestCoded_output.java
